NEXT_PUBLIC_SUPABASE_URL=https://xlkupdypwxnxyxilizgx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhsa3VwZHlwd3hueHl4aWxpemd4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzU1NDE1MjksImV4cCI6MjA1MTExNzUyOX0.-WQMkmqKoUn68To-lDuKtnfvL-EUOTutdPJsxCGKoXQ
NEXT_PUBLIC_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhsa3VwZHlwd3hueHl4aWxpemd4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczNTU0MTUyOSwiZXhwIjoyMDUxMTE3NTI5fQ.QRoSQyxhbqOxMJPYDiQg9sG6VLT6qIduv3YgEbWaPWA